<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HashKey" value="DF89WA2Z55JYOFYH4VBE8DAAXHBNBU"/>
    <add key="secret" value="89AF6844F89REF4AZ4GR4AR4VE48BTYJRTIK8YTUTG8QZE4FZq8"/>
    <add key="v1APIUrl" value="http://localhost:5000/api/v1"/>
  </appSettings>
</configuration>